Repository anand-bala/argus: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox (python), nox (rust)

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/rstcheck/rstcheck
    rev: 'v6.2.0' # Use the sha / tag you want to point at
    hooks:
      - id: rstcheck
        additional_dependencies: ["sphinx>=4.0"]
  - repo: local
    hooks:
      - id: nox (python)
        name: nox (python)
        description: Run nox fixers and linters for Python
        entry: nox -t python
        language: system
        pass_filenames: false
        types:
          - python
      - id: nox (rust)
        name: nox (rust)
        description: Run nox fixers and linters for Rust
        entry: nox -t rust
        language: system
        pass_filenames: false
        types:
          - rust

ci: add rustfmt to linting CI
  .github/workflows/ci.yaml
Due: none

add ruff and flake8 to conda environment spec
  environment.yaml
Due: none

ci: use maturin for testpypi releases
  .github/workflows/release.yaml
Due: none

ci: add a manually triggered workflow for releasing the project to pypi proper [skip ci]
  .github/workflows/release.yaml
Due: none

ci: run on tag pushes too [ci skip]
  .github/workflows/ci.yaml
Due: none

docs: add instructions for PyPI package
  docs/index.rst
Due: none

ci(docs): add workflow to publish docs
  .github/workflows/docs.yaml
Due: none

ci(docs): fixed shell arguments + moved
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
Due: none

deploy: 1a927f89f5d2ea76d551cc583644d246156d36ec
  .nojekyll
Due: none

ci(docs): fixed copy arguments for gh-pages
  .github/workflows/ci.yaml
Due: none

feat(pyargus): use version from Cargo
  pyargus/argus/__init__.pyi
  pyargus/argus/_argus.pyi
  pyargus/pyproject.toml
Due: none

docs: add version switcher do documentation
  docs/_static/versions.json
  docs/conf.py
Due: nox (python)

Release 0.1.2
  argus-derive/Cargo.toml
  argus/Cargo.toml
  pyargus/Cargo.toml
Due: none

deploy: 13194041e3bda8fcf989f14babfa3f2258f67680
  dev/.buildinfo
  dev/.doctrees/environment.pickle
  dev/_static/documentation_options.js
  dev/_static/versions.json
  dev/api/argus/_argus/index.html
  dev/api/argus/index.html
  dev/api/index.html
  dev/genindex.html
  dev/getting_started.html
  dev/index.html
  dev/objects.inv
  dev/py-modindex.html
  dev/search.html
Due: none

ci(docs): use tree to generate doc index
  .github/workflows/ci.yaml
Due: none

deploy: 5389278569c0fe25098faf06503a7becca068628
  dev/.doctrees/environment.pickle
Due: none

deploy: b98b8bab6e8218b4404c405d045becbf104549a0
  dev/.doctrees/environment.pickle
  dev/_static/versions.json
Due: none

ci(docs): push the generated tree to gh-pages
  .github/workflows/ci.yaml
  docs/_static/versions.json
Due: none

deploy: d68527029fe4d60cb915def709446b6d2ea65db3
  dev/.doctrees/environment.pickle
Due: none

update index.html
  index.html
Due: none

chore(argus): bump chumsky alpha version
  argus/Cargo.toml
  argus/src/parser/lexer.rs
  argus/src/parser/syntax.rs
Due: nox (rust)

fix(argus): parse errors
  argus/Cargo.toml
  argus/src/core/expr.rs
  argus/src/lib.rs
  argus/src/parser/lexer.rs
  argus/src/parser/mod.rs
  argus/src/parser/syntax.rs
Due: nox (rust)

tests(pyargus): add tests for parsing expressions
  environment.yaml
  noxfile.py
  pyargus/pyproject.toml
  pyargus/tests/__init__.py
  pyargus/tests/test_expr.py
  pyargus/tests/test_signals.py
  pyargus/tests/utils/__init__.py
  pyargus/tests/utils/expr_gen.py
  pyargus/tests/utils/signals_gen.py
Due: nox (python)

deploy: 5da441db4274d29038ae5d57c11964445d0ce5d1
  dev/.doctrees/environment.pickle
Due: none

test(pyargus): add better testing for parsing expressions
  noxfile.py
  pyargus/argus/test_utils/__init__.py
  pyargus/argus/test_utils/expr_gen.py
  pyargus/argus/test_utils/signals_gen.py
  pyargus/tests/test_expr.py
  pyargus/tests/test_signals.py
  pyargus/tests/utils/__init__.py
Due: nox (python)

feat(argus): add Display trait for Expr
  argus/Cargo.toml
  argus/examples/dump_expr.rs
  argus/src/core/expr.rs
  argus/src/core/expr/bool_expr.rs
  argus/src/core/expr/num_expr.rs
Due: nox (rust)

fix(argus): correctly handle untyped vars and recursion
  argus/src/parser/lexer.rs
  argus/src/parser/mod.rs
  argus/src/parser/syntax.rs
Due: nox (rust)

deploy: c68620dfddafaa9831dcef1ef52380f0133ce46d
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/environment.pickle
  dev/_sources/api/argus/index.rst.txt
  dev/_sources/api/argus/test_utils/expr_gen/index.rst.txt
  dev/_sources/api/argus/test_utils/index.rst.txt
  dev/_sources/api/argus/test_utils/signals_gen/index.rst.txt
  dev/api/argus/index.html
  dev/api/argus/test_utils/expr_gen/index.html
  dev/api/argus/test_utils/index.html
  dev/api/argus/test_utils/signals_gen/index.html
  dev/api/index.html
  dev/genindex.html
  dev/objects.inv
  dev/searchindex.js
Due: none

test(pyargus): better test for expr_gen
  .github/workflows/ci.yaml
  pyargus/argus/test_utils/expr_gen.py
  pyargus/tests/test_expr.py
Due: nox (python)

deploy: f8e570756cebbe9e536fd69cb554dc0915ce6aef
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/environment.pickle
  dev/_sources/api/argus/test_utils/expr_gen/index.rst.txt
  dev/api/argus/test_utils/expr_gen/index.html
  dev/searchindex.js
Due: none

feat(argus): Identifier re-declaration error only if type mismatch
  argus/src/lib.rs
Due: nox (rust)

deploy: 47003df4c07ceb16011ecebfc06d0a9cea9e1e39
  dev/.doctrees/environment.pickle
Due: none
