Repository anand-bala/argus: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox (python), nox (rust)

nox (python):
  name: nox (python)
  description: Run nox fixers and linters for Python
  entry: nox -t python
  language: system
  pass_filenames: false

nox (rust):
  name: nox (rust)
  description: Run nox fixers and linters for Rust
  entry: nox -t rust
  language: system
  pass_filenames: false

ci: update github actions email?
  .github/workflows/ci.yaml
Due: none

deploy: 80cba615e87316f8f968069a4b32051e60047092
  dev/.doctrees/environment.pickle
Due: none

update index.html
  index.html
Due: none

ci: get Rust backtrace for tests
  .github/workflows/ci.yaml
Due: none

deploy: 759197248174b7f508a38ce651148a16c0d46a3c
  dev/.doctrees/environment.pickle
Due: none

tests(pyargus): ignore positive overflow errors in expr generation...
  pyargus/tests/test_expr.py
Due: nox (python)

deploy: e7b1cca5c1499a4ab2fd47ebb8489c0130854d44
  dev/.doctrees/environment.pickle
Due: none

ci: make hypothesis explain failures
  .github/workflows/ci.yaml
Due: none

feat(argus): don't just panic on failed number parsing
  argus/src/parser/lexer.rs
  pyargus/tests/test_expr.py
Due: nox (python), nox (rust)

deploy: a7431ce4240c4f85e429483be8246de8d786c8db
  dev/.doctrees/environment.pickle
Due: none

docs: use sphinx-multiversion for version selector
  .github/workflows/ci.yaml
  .gitignore
  docs/_templates/versions.html
  docs/conf.py
  environment.yaml
  noxfile.py
Due: nox (python)

fix(docs): multiversion command
  .github/workflows/ci.yaml
  noxfile.py
Due: nox (python)

redirect from index to dev
  index.html
Due: none

fix(argus): weird lex errors
  argus/src/parser/lexer.rs
  argus/src/parser/mod.rs
Due: nox (rust)

deploy: f510f0067b12c87d5018d6685a490367ddbe46c7
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
  index.html
Due: none

docs: redirect from index to dev
  .github/workflows/ci.yaml
  docs/_templates/index-redirect.html
  noxfile.py
Due: nox (python)

Release 0.1.3
  argus/Cargo.toml
  pyargus/Cargo.toml
Due: none

deploy: 08085dabd993d1b63b925e636b48ec96e6360c84
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
  index.html
Due: none

docs: redirect from index to dev correctly
  docs/_templates/index-redirect.html
Due: none

ci: prevent docs from being overwritten
  .github/workflows/ci.yaml
Due: none

deploy: 31845b61eaa1b4d943b8bdb8ca2073c9cb9892ce
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
Due: none

chore: add PyPI badges
  README.md
  docs/index.rst
Due: none

deploy: 69daf21abeed67636b14235373868f043150f800
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
  dev/_sources/index.rst.txt
  dev/index.html
Due: none

feat(pyargus): add __str__ methods for Expr
  pyargus/src/expr.rs
Due: nox (rust)

deploy: fb72e60a0a63e236e0a01bc86c46fd8c0dde114c
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
  dev/_sources/api/argus/test_utils/expr_gen/index.rst.txt
  dev/api/argus/_argus/index.html
  dev/api/argus/index.html
  dev/api/argus/test_utils/expr_gen/index.html
  dev/api/argus/test_utils/index.html
  dev/api/argus/test_utils/signals_gen/index.html
  dev/api/index.html
  dev/genindex.html
  dev/getting_started.html
  dev/index.html
  dev/py-modindex.html
  dev/search.html
  dev/searchindex.js
Due: none

chore: add more PyPI classifiers
  pyargus/pyproject.toml
Due: none

deploy: eea3065b4ecd50e113792cb34957bf370482db11
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
Due: none

fix(tests): correct coverage command for pytest
  noxfile.py
Due: nox (python)

fix(argus): explicitly derive AnyExpr
  argus/src/core/expr.rs
  argus/src/parser/mod.rs
Due: nox (rust)

ci: add coverage to CI
  .github/workflows/ci.yaml
  environment.yaml
  pyargus/pyproject.toml
Due: none

Path conditions:
  nox (python): any of: \.py$
  nox (rust): any of: \.rs$
