Repository anand-bala/argus: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox (python), nox (rust)

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/rstcheck/rstcheck
    rev: 'v6.2.0' # Use the sha / tag you want to point at
    hooks:
      - id: rstcheck
        additional_dependencies: ["sphinx>=4.0"]
  - repo: local
    hooks:
      - id: nox (python)
        name: nox (python)
        description: Run nox fixers and linters for Python
        entry: nox -t python
        language: system
        pass_filenames: false
        types:
          - python
      - id: nox (rust)
        name: nox (rust)
        description: Run nox fixers and linters for Rust
        entry: nox -t rust
        language: system
        pass_filenames: false
        types:
          - rust

deploy: cb8f6bba5a314c061820fe71f0c9ce840aa63307
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
Due: none

fix(ci): use nox for coverage
  .github/workflows/ci.yaml
Due: none

deploy: 1fc37c99956fa0337ff5c85ddf8ddef7a3c18067
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
Due: none

fix(ci): use mamba nox backend only if it exists
  noxfile.py
Due: nox (python)

deploy: 63e93f82cec0a01d6e29deb9b71dadfa152dbb41
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
Due: none

docs: add codecov badge
  .rstcheck.cfg
  README.md
  docs/index.rst
Due: none

deploy: 192bb203806301343603402abd2d0519022096fb
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
  dev/_sources/index.rst.txt
  dev/index.html
  dev/searchindex.js
Due: none

test(pyargus): add tests comparing semantics against metric-temporal-logic
  noxfile.py
  pyargus/argus/test_utils/signals_gen.py
  pyargus/pyproject.toml
  pyargus/src/lib.rs
  pyargus/tests/test_semantics.py
  pyargus/tests/test_signals.py
Due: nox (python), nox (rust)

fix(argus): bug in semantics
  argus/src/semantics/boolean.rs
  argus/src/semantics/quantitative.rs
Due: nox (rust)

ignore proc-macro crage for codecov
  codecov.yaml
Due: none

deploy: a92b4c1b9da86b37da47c953a72436cc9c54864b
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
  dev/_sources/api/argus/test_utils/signals_gen/index.rst.txt
  dev/api/argus/test_utils/signals_gen/index.html
  dev/searchindex.js
Due: none

fix(ci): install mtl as a test dependency
  .github/workflows/ci.yaml
Due: none

deploy: c40025ae33b1bb8caeb24d31f89c43d0a5cac712
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
Due: none

ci: don't fail fast
  .github/workflows/ci.yaml
Due: none

deploy: 59cbf0eb30a71659fe9916a27c52855a31843714
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
Due: none

fix(argus): use the correct timestamp for wedge iter
  argus/src/semantics/boolean.rs
  argus/src/semantics/quantitative.rs
Due: nox (rust)

deploy: add6415c9d25ee734819ffb2cb38b797484368e7
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
Due: none

ci: use nox for everything
  .github/workflows/ci.yaml
  noxfile.py
Due: nox (python)

test(pyargus): add more test cases
  pyargus/tests/test_semantics.py
Due: nox (python)

ci: fix cache string
  .github/workflows/ci.yaml
Due: none

ci: fix nox lint tag vs session
  .github/workflows/ci.yaml
Due: none

deploy: f5f0b3eb28a6d285d4dbf081b416329087e528fe
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
  dev/_sources/api/argus/test_utils/expr_gen/index.rst.txt
  dev/api/argus/test_utils/expr_gen/index.html
  dev/searchindex.js
Due: none

ci: install mamba on CI
  .github/workflows/ci.yaml
  noxfile.py
Due: nox (python)

fix(pyargus): import TypeAlias from extensions for older python
  pyargus/argus/_argus.pyi
Due: none

deploy: 7a68fd29d75299774cda95bf2f41718497f2ca84
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
  dev/_sources/api/argus/index.rst.txt
  dev/api/argus/index.html
  dev/searchindex.js
Due: none

ci: add cache for coverage
  .github/workflows/ci.yaml
Due: none

deploy: eab6e219eff8da8fff15afd0918093b0af5ff181
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
Due: none

ci: separate rust and python test sessions
  noxfile.py
Due: nox (python)

deploy: a295f2104998ddac34730aa7590b5ee74beac6ff
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
Due: none

fix: semantics for bounded eventually
  argus/src/core/signals.rs
  argus/src/core/signals/interpolation.rs
  argus/src/lib.rs
  argus/src/semantics/boolean.rs
  argus/src/semantics/quantitative.rs
  argus/src/semantics/utils/lemire_minmax.rs
  pyargus/argus/test_utils/signals_gen.py
  pyargus/pyproject.toml
  pyargus/src/semantics.rs
  pyargus/src/signals.rs
  pyargus/tests/test_semantics.py
  pyargus/tests/test_signals.py
Due: nox (python), nox (rust)

deploy: 46f0f60bc07705deae08c146df5b755f671039ec
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
  dev/_sources/api/argus/index.rst.txt
  dev/api/argus/index.html
  dev/searchindex.js
Due: none

Release 0.1.4
  argus/Cargo.toml
  pyargus/Cargo.toml
Due: none

deploy: be7fcb6c8a59632fdda1a330381f6c7d3c8e687c
  dev/.buildinfo
  dev/.doctrees/api/argus/_argus/index.doctree
  dev/.doctrees/api/argus/index.doctree
  dev/.doctrees/api/argus/test_utils/expr_gen/index.doctree
  dev/.doctrees/api/argus/test_utils/index.doctree
  dev/.doctrees/api/argus/test_utils/signals_gen/index.doctree
  dev/.doctrees/api/index.doctree
  dev/.doctrees/environment.pickle
  dev/.doctrees/getting_started.doctree
  dev/.doctrees/index.doctree
Due: none
