Repository anand-bala/argus: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox (python), nox (rust)

nox (python):
  name: nox (python)
  description: Run nox fixers and linters for Python
  entry: nox -t python
  language: system
  pass_filenames: false

nox (rust):
  name: nox (rust)
  description: Run nox fixers and linters for Rust
  entry: nox -t rust
  language: system
  pass_filenames: false

fix(argus-parser): correctly type variables under relationals
  argus-parser/examples/dump_expr.rs
  argus-parser/src/lexer.rs
  argus-parser/src/parser.rs
Due: nox (rust)

feat: expose parser in argus
  argus/src/lib.rs
Due: nox (rust)

feat!: make interpolation method explicit
  argus-core/src/signals.rs
  argus-core/src/signals/bool_ops.rs
  argus-core/src/signals/num_ops.rs
  argus-core/src/signals/utils.rs
  argus-semantics/src/semantics/boolean.rs
  argus-semantics/src/semantics/quantitative.rs
  pyargus/src/semantics.rs
  pyargus/src/signals.rs
Due: nox (rust)

feat: expose parser in argus
  argus-core/src/expr.rs
  pyargus/Cargo.toml
  pyargus/argus/__init__.py
  pyargus/argus/_argus.pyi
  pyargus/argus/exprs.py
  pyargus/src/expr.rs
  pyargus/src/lib.rs
Due: nox (python), nox (rust)

fix!: add explicit interpolation method for more functions
  argus-core/src/signals/cmp_ops.rs
  argus-core/src/signals/num_ops.rs
  argus-core/src/signals/shift_ops.rs
  argus-core/src/signals/traits.rs
  argus-core/src/signals/utils.rs
  argus-semantics/src/semantics/boolean.rs
  argus-semantics/src/semantics/quantitative.rs
Due: nox (rust)

tests: better cargo test arguments
  noxfile.py
Due: nox (python)

feat: TRUE and FALSE are keywords in parser
  argus-parser/src/lexer.rs
Due: nox (rust)

ci: add initial CI
  .github/workflows/release.yaml
Due: none

fix(ci): install test dependencies
  .github/workflows/release.yaml
Due: none

fix(ci): actually install the test dependencies
  .github/workflows/release.yaml
Due: none

fix(ci): try to make pytest actually detect argus
  .github/workflows/release.yaml
Due: none

fix(pyargus): add typing-extensions as dependency
  pyargus/pyproject.toml
Due: none

ci: add permission to upload wheels to release
  .github/workflows/release.yaml
Due: none

ci: don't run tests for aarch64 (for now)
  .github/workflows/release.yaml
Due: none

ci: macos and windows can't handle install from wheel...
  .github/workflows/release.yaml
Due: none

fix(ci): correctly download wheel artifacts
  .github/workflows/release.yaml
Due: none

begin documentation
  argus-core/src/lib.rs
  conda-lock.yml
  environment.yaml
Due: nox (rust)

feat!(pyargus): simplify the API surface
  noxfile.py
  pyargus/Cargo.toml
  pyargus/argus/__init__.pyi
  pyargus/argus/_argus.pyi
  pyargus/argus/exprs.py
  pyargus/argus/semantics.py
  pyargus/argus/signals.py
  pyargus/pyproject.toml
  pyargus/src/expr.rs
  pyargus/src/lib.rs
  pyargus/src/semantics.rs
  pyargus/src/signals.rs
  pyargus/tests/test_signals.py
Due: nox (python), nox (rust)

docs(pyargus): create initial documentation for pyargus
  .pre-commit-config.yaml
  argus-parser/src/util.rs
  docs/conf.py
  docs/getting_started.rst
  docs/index.rst
  environment.yaml
  noxfile.py
Due: nox (python), nox (rust)

cleanup environment files
  conda-lock.yml
  environment.yaml
Due: none

ci: add a testing CI
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

ci: activate mamba environments for pytest
  .github/workflows/ci.yaml
Due: none

fix(ci): cache key should be the singla Cargo.lock
  .github/workflows/ci.yaml
Due: none

fix(ci): try to install for pytest from wheel
  .github/workflows/ci.yaml
  noxfile.py
Due: nox (python)

ci: try using --no-index for pip
  .github/workflows/ci.yaml
  environment.yaml
Due: none

fix(ci): remember that the CI script is only for testing
  .github/workflows/ci.yaml
  environment.yaml
Due: none

fix(ci): don't let cargo run test for pyargus
  pyargus/Cargo.toml
Due: none

fix(ci): don't have to specify interpreter for maturin develop
  .github/workflows/ci.yaml
Due: none

ci: try to generate lockfile before caching
  .github/workflows/ci.yaml
Due: none

ci: add a manually triggered workflow for releasing the project to test.pypi [skip ci]
  .github/workflows/release.yaml
Due: none

refactor!(pyargus): rename python package to minimize ambiguity in PyPI
  pyargus/pyproject.toml
Due: none

fix(parser): get rid of redundant clones on &str
  argus-parser/src/lib.rs
  argus-parser/src/parser.rs
Due: nox (rust)

Release 0.1.1
  Cargo.toml
  argus-core/Cargo.toml
  argus-parser/Cargo.toml
  argus-semantics/Cargo.toml
  argus/Cargo.toml
  docs/conf.py
  pyargus/Cargo.toml
Due: nox (python)

ci: only 1 version needed for release [skip ci]
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

ci: set the test pypi url [skip ci]
  .github/workflows/release.yaml
Due: none

ci: let the workflow be used for `dev` branch
  .github/workflows/release.yaml
Due: none

ci: run release in a specific environment [skip ci]
  .github/workflows/release.yaml
Due: none

docs: add metadata to Cargo.toml files [skip ci]
  Cargo.toml
  argus-automata/Cargo.toml
  argus-core/Cargo.toml
  argus-derive/Cargo.toml
  argus-parser/Cargo.toml
  argus-semantics/Cargo.toml
  argus/Cargo.toml
  pyargus/Cargo.toml
Due: none

ci: use trusted publisher config for release
  .github/workflows/release.yaml
Due: none

ci: make the CI simpler for both, release and tests
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

Path conditions:
  nox (python): any of: \.py$
  nox (rust): any of: \.rs$
